<!DOCTYPE html>
<html ng-app="blog">				<!-- .json la finalul linkului? -->
<head>
  <title>Andrew's application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">&nbsp;&nbsp;Andrew's AWJ Project</a> <!--MODIFICAT-->
        </div>
       <div id='cssmenu'>
       <ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <li class="active">       
            <li><a href="#Persoana"><span>Persoana</span></a></li>
            <li><a href="#Angajat"><span>Angajat</span></a></li>
            <li><a href="#Masina"><span>Masina</span></a></li>
            <li><a href="#Telefon"><span>Telefon</span></a></li>
           </li>
         </div>   					
        </ul>
        </div>			<!-- in models: package hello; sau package hello.models; ??? -->
       </div>
    </nav>
  </div>

  <hr/>  <!-- Keep behind this line! -->

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
        <p>Things aren't always #000000 and #FFFFFF...</p>
    </div>
  </div>

  <hr/>
  
 <!-- fct adaugare, editare, stergere, aducere din backend in frontend -->

                                <!-- /resources1 -->
								
  <div class="container" ng-controller="HomeController">
  
    <h1 id="Persoana">Persoane</h1>
	
    <h2>Lista persoane</h2>                                      <!-- Listeaza -->
	
    <table class="table table-bordered">
      <tr>
		<th ng-repeat="field in fields">{{field | uppercase}}</th>
        <th style="width:210px;">Optiuni</th>
      </tr>
      <tr ng-repeat="persoana in persoane" data-id="{{persoana.id}}">	  
        <td>{{persoana.id}}</td>				<!-- MODIFICAT -->
        <td>{{persoana.nume}}</td>
        <td>{{persoana.varsta}}</td>
        <td>
          <a href="#Persoana">
            <span class="label label-success">
				Deschide
            <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
			<button ng-click="setUpdatePhone(persoana)" class="btn btn-info btn-xs">
				Editeaza
            <span class="glyphicon glyphicon-edit"></span>
			</button>
          </a>
          <a href="">
            <button ng-click="deletePersoana(persoana.id)" class="btn btn-danger btn-xs">
				Sterge
            <span class="glyphicon glyphicon-remove"></span>
            </button>
		  </a>
        </td>
      </tr>
	</table>  
	  

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza o persoana</h2>                                      <!-- Editeaza -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="editPerson.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Varsta</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Varsta" ng-model="editPerson.varsta">
          </div>
          <button ng-click="updatePerson()" type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga o persoana</h2>                                      <!-- Adauga -->
		
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="persoana.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="persoana.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Varsta</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Varsta" ng-model="persoana.varsta">
          </div>
		  
          <button ng-click="addPersoana()" class="btn btn-success">Adauga</button>
        </form>  		<!-- type Submit ???  addPersoana(persoana) ??? -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Afiseaza o persoana</h2>                                     <!-- Afiseaza -->
      </div> 
      <div class="col-md-2">
        <iframe src="https://drive.google.com/file/d/0B7WoEl5VZnIWdFkxMjZpeWRLbEE/preview" class="img-responsive">
        </iframe>
      </div>
      <div class="col-md-10">
        <h3>Andrei Ulinici</h3>
        <p>ID: 001, 21 ani</p>
      </div>
    </div>
  </div>

  <hr/>

                                        <!-- /resources2-->
										
  <div class="container" ng-controller="AngajatController">
  
    <h1 id="Angajat">Angajat</h1>
	
    <h2>Listati toti angajatii</h2>                                      <!-- Listeaza -->
	
    <table class="table table-bordered">
      <tr>
		<th ng-repeat="field in fields">{{field | uppercase}}</th>
        <th style="width:210px;">Optiuni</th>
      </tr>
      <tr ng-repeat="angajat in angajati" data-id="{{angajat.id}}">	  
        <td>{{angajat.id}}</td>				<!-- MODIFICAT -->
        <td>{{angajat.nume}}</td>
        <td>{{angajat.an}}</td>
        <td>
          <a href="#Angajat">
            <span class="label label-success">
				Deschide
            <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
			<button ng-click="setUpdateEmployee(angajat)" class="btn btn-info btn-xs">
				Editeaza
            <span class="glyphicon glyphicon-edit"></span>
			</button>
          </a>
          <a href="">
            <button ng-click="deleteAngajat(angajat.id)" class="btn btn-danger btn-xs">
				Sterge
            <span class="glyphicon glyphicon-remove"></span>
            </button>
		  </a>
        </td>
      </tr>
	</table> 

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza un angajat</h2>                                      <!-- Editeaza -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editEmployee.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="editEmployee.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Anul angajarii</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Anul angajarii" ng-model="editEmployee.an">
          </div>  
          <button ng-click="updateEmployee()" type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga un angajat</h2>                                      <!-- Adauga -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID"  ng-model="angajat.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="angajat.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Anul angajarii</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Anul angajarii" ng-model="angajat.an">
          </div>   
          <button ng-click="addAngajat()" type="submit" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Afiseaza un angajat</h2>                                    <!-- Afiseaza -->
      </div>
      <div class="col-md-2">
        <img src="http://www.hicare.co.uk/uploads/images/eom%20images%20(1).JPG" class="img-responsive"/>
      </div>
      <div class="col-md-10">
        <h3>Marius Bogdan Apostol</h3>
        <p>ID: 007, Angajat din 2015</p>
      </div>
    </div>
  </div>

  <hr/>
    
                                <!-- /resources3 -->
								
  <div class="container" ng-controller="MasinaController">
    <h1 id="Masina">Masina</h1>
    <h2>Listeaza toate masinile</h2>                                      <!-- Listeaza -->
	
    <table class="table table-bordered">
      <tr>
		<th ng-repeat="field in fields">{{field | uppercase}}</th>
        <th style="width:210px;">Optiuni</th>
      </tr>
      <tr ng-repeat="masina in masini" data-id="{{masina.id}}">	  
        <td>{{masina.id}}</td>				<!-- MODIFICAT -->
        <td>{{masina.marca}}</td>
        <td>{{masina.model}}</td>
		<td>{{masina.an}}</td>
		<td>{{masina.kilometri}}</td>
		<td>{{masina.pret}}</td>
        <td>
          <a href="#Masina">
            <span class="label label-success">
				Deschide
            <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
			<button ng-click="setUpdateCar(masina)" class="btn btn-info btn-xs">
				Editeaza
            <span class="glyphicon glyphicon-edit"></span>
			</button>
          </a>
          <a href="">
            <button ng-click="deleteMasina(masina.id)" class="btn btn-danger btn-xs">
				Sterge
            <span class="glyphicon glyphicon-remove"></span>
            </button>
		  </a>
        </td>
      </tr>
	</table>  

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza o masina</h2>                                      <!-- Editeaza -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID"  ng-model="editCar.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="editCar.marca">
          </div>
          <div class="form-group">
            <label for="attribute3">Model</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Model" ng-model="editCar.model">
          </div>
          <div class="form-group">
            <label for="attribute4">An</label>
            <input type="text" class="form-control" id="attribute4" placeholder="An" ng-model="editCar.an">
          </div>
          <div class="form-group">
            <label for="attribute5">Kilometri</label>
            <input type="text" class="form-control" id="attribute5" placeholder="Kilometri" ng-model="editCar.kilometri">
          </div>
          <div class="form-group">
            <label for="attribute6">Pret</label>
            <input type="text" class="form-control" id="attribute6" placeholder="Pret" ng-model="editCar.pret">
          </div>
          <button ng-click="updateCar()" type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga o masina</h2>                                      <!-- Adauga -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="masina.id">
          </div>
           <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="masina.marca">
          </div>
          <div class="form-group">
            <label for="attribute3">Model</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Model" ng-model="masina.model">
          </div>
          <div class="form-group">
            <label for="attribute4">An</label>
            <input type="text" class="form-control" id="attribute4" placeholder="An" ng-model="masina.an">
          </div>
          <div class="form-group">
            <label for="attribute5">Kilometri</label>
            <input type="text" class="form-control" id="attribute5" placeholder="Kilometri" ng-model="masina.kilometri">
          </div>
          <div class="form-group">
            <label for="attribute6">Pret</label>
            <input type="text" class="form-control" id="attribute6" placeholder="Pret" ng-model="masina.pret">
          </div>
          <button ng-click="addMasina()" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Afiseaza o masina</h2>                                     <!-- Afiseaza -->
      </div> 
      <div class="col-md-3">
        <img src="http://vignette4.wikia.nocookie.net/topgear/images/1/13/Top_gear_mclaren.jpg" class="img-responsive">
        </img>
      </div>
      <div class="col-md-10">
        <h3>McLaren MP4-12C</h3>
        <p>ID: 004</p>
        <p>An: 2011</p>
        <p>Km: 80 000</p>
        <p>Pret: 250 000</p>
      </div>
    </div>
  </div>

  <hr/>

                                  <!-- /resources4 -->
  <div class="container">
  
    <h1 id="Telefon">Telefoane<h1>
	
    <h2>Listeaza toate telefonele</h2>									<!-- Listeaza -->
	
    <table class="table table-bordered">
      <tr>
		<th ng-repeat="field in fields">{{field | uppercase}}</th>
        <th style="width:210px;">Optiuni</th>
      </tr>
      <tr ng-repeat="telefon in telefoane" data-id="{{telefon.id}}">	  
        <td>{{telefon.id}}</td>				<!-- MODIFICAT -->
        <td>{{telefon.marca}}</td>
        <td>{{telefon.culoare}}</td>
		<td>{{telefon.an}}</td>
		<td>{{telefon.pret}}</td>
        <td>
          <a href="#Telefon">
            <span class="label label-success">
				Deschide
            <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
			<button ng-click="setUpdatePhone(telefon)" class="btn btn-info btn-xs">
				Editeaza
            <span class="glyphicon glyphicon-edit"></span>
			</button>
          </a>
          <a href="">
            <button ng-click="deleteTelefon(telefon.id)" class="btn btn-danger btn-xs">
				Sterge
            <span class="glyphicon glyphicon-remove"></span>
            </button>
		  </a>
        </td>
      </tr>
	</table> 
	
    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza un telefon</h2>                                      <!-- Editeaza -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPhone.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="editPhone.marca">
          </div>
          <div class="form-group">
            <label for="attribute3">Culoare</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Culoare" ng-model="editPhone.culoare">
          </div>
          <div class="form-group">
            <label for="attribute4">An</label>
            <input type="text" class="form-control" id="attribute4" placeholder="An" ng-model="editPhone.an">
          </div>
          <div class="form-group">
            <label for="attribute5">Pret</label>
            <input type="text" class="form-control" id="attribute5" placeholder="Pret" ng-model="editPhone.pret">
          </div>
          <button ng-click="updatePhone()" type="submit" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga un telefon</h2>                                      <!-- Adauga -->
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="telefon.id">
          </div>
           <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="telefon.marca">
          </div>
          <div class="form-group">
            <label for="attribute3">Culoare</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Culoare" ng-model="telefon.culoare">
          </div>
          <div class="form-group">
            <label for="attribute4">An</label>
            <input type="text" class="form-control" id="attribute4" placeholder="An" ng-model="telefon.an">
          </div>
          <div class="form-group">
            <label for="attribute5">Pret</label>
            <input type="text" class="form-control" id="attribute5" placeholder="Pret" ng-model="telefon.pret">
          </div>
          <button ng-click="addTelefon()" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Afiseaza un telefon</h2>                                     <!-- Afiseaza -->
      </div> 
      <div class="col-md-3">
        <img src="http://www.honormi.com/1013-large_default/oneplus-two-16gb-bamboo.jpg" class="img-responsive">
        </img>
      </div>
      <div class="col-md-10">
        <h3>OnePlus Two</h3>
        <p>ID: 002</p>
        <p>Culoare: Bamboo</p>
        <p>An: 2015</p>
        <p>Pret: 2 500</p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Ulinici Andrei, 334AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>